* {
  box-sizing: border-box;
}

html,
body {
   margin: 0;
  min-height: 100vh;

  background-image: url("./assets/Fondo.png");
  background-size: cover;       /* ocupa toda la pantalla */
  background-position: center;  /* centrada */
  background-repeat: no-repeat;
  background-attachment: fixed; /* efecto elegante */

  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}